body{
    background-color: black;
}

h1{
    color: white;
}

video {
    width: 100%;
}

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}