<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Navbar</title>
    <link rel="stylesheet" href="/css/basic.css">
    <script src="/js/basic.js"></script>
</head>
<body>
    <div class="navbar" id="navbar1">
        <div class="container1">
            <div class="navbar-logo">
                <a href="/home"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Netflix-Logo.png" alt="Netflix Logo"></a>
            </div>
            <ul class="navbar-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/serieslive">TV Shows</a></li>
                <li><a href="/movieslive">Movies</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            <div class="navbar-account">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <!-- Content goes here -->
</body>
</html>
