<%- include('basic.ejs') %>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<h1>This is home</h1>

<video id="videoPlayer" width="650" controls muted="muted" autoplay>
    <source src="/video/movies/970206523500101633" type="video/mp4" />
</video>
</body>

